!!! 5
%html
  %head
    %title= "cine.io Sinatra Example"
    :css
      ul.inline li {
        list-style-type: none;
        display: inline;
      }
      ul.inline li:after {
        content: "|";
      }
      ul.inline li:last-child:after {
        content: "";
      }

      #player, #publisher {
        width: 720px;
        height: 404px;
      }

  %body
    %header
      %nav
        %ul.inline
          %li
            %a{:href => "https://www.cine.io/docs"} Documentation
          %li
            %a{:href => "https://github.com/cine-io/cineio-ruby"} Ruby Gem
          %li
            %a{:href => "https://github.com/cine-io/js-sdk"} JS SDK
    %hr
      %ul.inline
        %li
          %a{:href => '/'} Home
        %li
          %a{:href => '/streams/create'} New Stream

    #content= yield
    %hr
    %footer
    %p
      Copyright &copy;
      = Time.now.year
      %a{:href => 'https://www.cine.io'} cine.io
